.ui-page {
    -webkit-backface-visibility: hidden;
}
#news-data li h3.ui-li-heading { white-space:normal; font-size:small;}
			.news-date{ font-size:x-small; font-weight:bold; color:#666;}
			.news-title{ font-size:large; font-weight:bold; color:#069; padding-top:5px; padding-bottom:10px;}
			.story-style{ text-align:justify; font-size:small}
			.MsoNormal{ text-align:justify; font-size:small}
			.gallery-img{ list-style:none; list-style-type:none; padding:0px;}
			.small-title{ width: 65%; float:left;}
			.small-img img{ width:30%; float:right;}
			.ui-header .ui-btn-left{ left:12px; top:5px;}
			#menu-panel .ui-li{ border-width:0; border-top-width: 0px; border-bottom-width:1px; border-bottom-color: #1e1e1e;}
			.menu-text{ color:#006699;}
			.menu-panela{ background-color:#333333  !important; background-image:none !important;}
			
.subheader{ border-bottom:1px solid #333333;}
.type-news{ width:70%; float:left; font-weight:bold;}
.pointers(width:50%; float right;)
.ui-icon-myapp-email {
	background-image: url("images/menu.png");
}
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
    overflow: visible;
}
.footer{ padding-bottom:20px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-myapp-email {
		background-image: url("images/menu.png");
		background-size: 18px 18px;
	}

}
			@media screen and (min-width: 960px){
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
   .gallery-img li img{width: 100%;}
}
			@media screen and (min-width: 1536px){
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
   .gallery-img li img{width: 100%;}
}
@media screen and (max-width: 384px) {
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
  .gallery-img li img{width: 100%;}
}
@media screen and (max-width: 480px) {
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
   .gallery-img li img{width: 100%;}
}
@media screen and (max-width: 640px) {
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
  .gallery-img li img{width: 100%;}
}
@media screen and (max-width: 320px) {
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
  .gallery-img li img{width: 100%;}
}
@media screen and (max-width: 768px) {
  .story_img_cont {width: 100%;}
  .story_img_cont img{width: 100%;}
  .gallery-img li img{width: 100%;}
}
